.game-container2 {
  border: 2px solid cyan;
  box-shadow: 0 0 10px cyan;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  margin: 20px auto;
  background-color: #121212;
  color: #fff;
}

canvas {
  background: rgb(228, 252, 252);
  border: 1px solid #000;
}

#startButton3,
#restartButton3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#restartButton3 {
  display: none;
}
