.game-container2 {
  padding: 20px;
  display: flex;
  justify-content: center;
}

canvas {
  background: #fff;
  border: 1px solid #000;
}

#startButton3,
#restartButton3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#restartButton3 {
  display: none;
}

#game-2 {
  background: #fc6363;
}
