.game4 {
  border: 2px solid cyan;
  box-shadow: 0 0 10px cyan;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  margin: 20px auto;
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
}

.game-container4 {
  background: #302f2e;
  border-radius: 10px;
  padding: 20px;
  width: 370px;
  /* position: relative; */
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.tile {
  background:black;
  border: 2px solid cyan;
  border-radius: 5px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data{
  text-shadow: 0 0 15px cyan;
  color: cyan;
  background: black;;
  font-size: 20px;
}

.controls {
  text-align: center;
  margin-top: 20px;
}

#game-over2048 {
  position: relative;
  background: rgba(255, 6, 6, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}