body{
    background-image: url("https://i.pinimg.com/originals/ff/5c/33/ff5c3321a863db98821f6045453aac9b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

h2{
    margin-top: 200px;
    color: aliceblue;
}