
.game-3 {
  border: 2px solid cyan;
  box-shadow: 0 0 10px cyan;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  margin: 20px auto;
  background-color: #121212;
  color: #fff;
  padding: 20px;
}
h1 {
  font-size: 28px;
  color: #f1f7f9;
  /* color: #333; */
}

.choice-btn {
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  transition: transform 0.2s ease;
}

.choice-btn:hover {
  transform: scale(1.1);
}

#result {
  font-size: 20px;
  font-weight: bold;
  color: #f1f7f9;
}

#score {
  font-size: 18px;
}

button i {
  font-size: 50px;
}

#player-score,
#computer-score,
#tie-count {
  font-weight: bold;
}

.d-flex {
  margin-top: 20px;
}

@media (max-width: 576px) {
  .choice-btn {
    margin-bottom: 15px;
    width: 80%;
  }
}

.cbtn{
    background: cyan;

}
.cbtn:hover{
    color: rgb(255, 255, 255);
}