body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("https://images.pexels.com/photos/8728388/pexels-photo-8728388.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  padding: 10px 20px;
  width: 300px;
  margin: 7px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #357f38;
}

a {
  text-decoration: none;
  color: #f9fff9;
  font-size: 20px;
  padding: 20px;
}

a:hover {
  text-decoration: underline;
}


.heading{
  font-size: 50px;
  font-weight: 100;
  margin: 50px;
  color: azure;
}

p{
  color: rgb(117, 255, 92);
  margin: 20px;
  padding: 20px;
}