.ox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  height: 100px;
  width: 100px;
  margin: 10px;
  background: #ff9797;
  cursor: pointer;
  border-radius: 20px;
  user-select: none;
}

#gameBoard {
  background: #f5f5f5;
  padding: 40px;
}
